<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href = "landingStyle.css" rel = "stylesheet">
</head>
<body>
    <ul class = pokemon>
    <% for (let i = 0; i < pokemon.length; i++){%>
    <li><a href = "/pokemon/<%=i%>"><%= pokemon[i].name %></a>
    <form action = "/pokemon/<%=i%>/edit" method = "GET">
    <button type = "submit">Edit Pokemon</button>
    </form>
    <form action = "/pokemon/<%=i%>/?_method=DELETE" method = "POST">
    <button type = "submit">Delete Pokemon</button>
    </form>
    </li>
    <% } %>
    </ul>  
    <form action = "/pokemon/new" method = "GET">
    <button type = "submit">Create New Pokemon</button>
</body>
</html>